<section class="container">
  <section class="form card">
    <section class="container-sm">


      <mat-form-field class="w-100">
        <mat-label>Valor:</mat-label>
        <input matInput type="number" min="0" class="form-control" [(ngModel)]="cvs.valor">
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Selecione a moeda:</mat-label>
        <mat-select disableRipple class="form-select combobox" [(ngModel)]="cvs.selectedOptionMoedaAtual">
          <mat-option *ngFor="let moeda of listaMoedas" [value]="moeda.symbols">
            {{ moeda.descricao }} - {{ moeda.symbols }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Para:</mat-label>
        <mat-select disableRipple class="form-select combobox" [(ngModel)]="cvs.selectedOptionMoedaConverter">
          <mat-option *ngFor="let moeda of listaMoedas" [value]="moeda.symbols">
            {{ moeda.descricao }} - {{ moeda.symbols }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button class="btn" (click)="converter()">Converter</button>
      <button class="btn btn-excluir" (click)="openDialog()">Excluir</button>
    </section>
  </section>
</section>

<app-historico></app-historico>
